<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodtower">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".pre_load"></activity>
        <activity android:name=".pre_load_data" />

        <service
            android:name=".playmusic"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".BroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FoodRec"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".MainActivityFragment" />

        <receiver
            android:name=".MySMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="android.provider.Telephony.SMS_READ" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyStatusReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity3" />
        <activity android:name=".MainActivity2" />
        <activity android:name=".adding_food" />
        <activity android:name=".client_list" />
        <activity android:name=".chef_page" />
        <activity android:name=".vote_result" />
        <activity android:name=".navigation_bar" />
        <activity android:name=".food_menu3" />
        <activity android:name=".food_menu2" />
        <activity android:name=".food_menu1" />
        <activity android:name=".subscribepage" />
        <activity
            android:name=".chefmenu"
            android:parentActivityName=".homepage" />
        <activity android:name=".homepage" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>